# ignore all
*

# git directory
!/.github

# .config
!/.config

# asdf
!/.asdf

# bat
!/.config/bat
!/.config/bat/*

# bpython
!/.config/bpython
!/.config/bpython/*

# git
!/.gitconfig

# pip
!/.config/pip
!/.config/pip/pip.conf

# poetry
!/.config/pypoetry
!/.config/pypoetry/config.toml

# ssl
!/.ssl
!/.ssl/openssl.cnf

# st-term
!/.Xresources

# tmux
!/.tmux.conf

# vscodium
!/.config/VSCodium
!/.config/VSCodium/User
!/.config/VSCodium/User/settings.json

# zinit
!/.zinit
!/.zinit/bin

# zsh
!/.p10k.zsh
!/.zprofile
!/.zshenv
!/.zshrc
