# ignore all
*

# git directory
!/.github

# .config: bat, vscodium
!/.config
!/.config/bat
!/.config/bat/config
!/.config/VSCodium
!/.config/VSCodium/User
!/.config/VSCodium/User/settings.json

# tmux
!/.tmux.conf

# zsh
!/.p10k.zsh
!/.zshenv
!/.zshrc
