# ignore all
*

# git directory
!/.github

# .config
!/.config

# .config > autostart
!/.config/autostart
!/.config/autostart/*

# .config > fonts
!/.config/fontconfig
!/.config/fontconfig/fonts.conf

# submodule > asdf
!/.asdf

# submodule > la-capitaine-icon-theme
!/.icons
!/.icons/la-capitaine-icon-theme

# submodule > tpm
!/.tmux
!/.tmux/plugins
!/.tmux/plugins/tpm

# submodule > zinit
!/.zinit
!/.zinit/bin

# bat
!/.config/bat
!/.config/bat/*

# bpython
!/.config/bpython
!/.config/bpython/*

# git
!/.gitconfig

# alacritty
!/.config/alacritty
!/.config/alacritty/alacritty.yml

# pip
!/.config/pip
!/.config/pip/pip.conf

# poetry
!/.config/pypoetry
!/.config/pypoetry/config.toml

# ssh
!/.ssh
!/.ssh/config

# ssl
!/.ssl
!/.ssl/openssl.cnf

# tmux
!/.tmux.conf

# vscodium
!/.vscode
!/.vscode/**/*
!/.config/VSCodium
!/.config/VSCodium/User
!/.config/VSCodium/User/settings.json

# x/zsh
!/.xinitrc
!/.p10k.zsh
!/.zprofile
!/.zshenv
!/.zshrc

# theme
!/.gtkrc-2.0
!/.config/gtk-3.0
!/.config/gtk-3.0/settings.ini

# sway
!/.config/sway
!/.config/sway/**/*
